* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body header {
  display: flex;
  justify-content: center;
  align-items: center;
}
body header nav {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header nav .selling {
  font-size: 30px;
  font-weight: 700;
  color: black;
}
body header nav .selling span {
  color: orangered;
  border: 50px;
}
body header nav .navbarText {
  justify-content: flex-end;
  align-items: center;
}
body header nav .navbarText ul li a {
  color: rgb(82, 82, 82);
  transition: 0.4s;
  font-size: 12px;
  font-weight: 600;
}
body header nav .navbarText ul li a:hover {
  color: orangered;
  transition: 0.4s;
  font-size: 12px;
  font-weight: 600;
}
body header nav .navbarText ul li .home {
  color: orangered;
  font-size: 12px;
  font-weight: 600;
}
body main #secOne {
  background-image: url(/assets/img/hero_2.webp);
  width: 100%;
  height: 700px;
  background-size: cover;
}
body main #secOne .secContent {
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #secOne .secContent .contentOne {
  display: flex;
  align-items: center;
  width: 70%;
  margin: auto;
}
body main #secOne .secContent .contentOne h1 {
  color: white;
  font-size: 50px;
  font-weight: 700;
}
body main #secOne .secContent .contentOne p {
  color: white;
  font-size: 14px;
  font-weight: 500;
  width: 450px;
}
body main #secOne .secContent .contentOne .buttons {
  padding-top: 30px;
}
body main #secOne .secContent .contentOne .buttons #btn1 {
  border: 1px solid white;
  color: white;
  font-size: 10px;
  font-weight: 600;
  transition: 0.4s;
  width: 120px;
  height: 35px;
  background-color: transparent;
}
body main #secOne .secContent .contentOne .buttons #btn1:hover {
  border: 1px solid white;
  color: black;
  font-size: 10px;
  font-weight: 600;
  transition: 0.4s;
  width: 120px;
  height: 35px;
  background-color: white;
}
body main #secOne .secContent .contentOne .buttons #btn2 {
  border: 1px solid white;
  color: black;
  font-size: 10px;
  font-weight: 600;
  transition: 0.4s;
  width: 150px;
  height: 35px;
  background-color: white;
}
body main #secOne .secContent .contentOne .buttons #btn2:hover {
  border: 1px solid white;
  color: white;
  font-size: 10px;
  font-weight: 600;
  transition: 0.4s;
  width: 150px;
  height: 35px;
  background-color: transparent;
}
body main #secTwo {
  padding: 110px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #secTwo .secContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main #secTwo .secContent .contentOne {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
body main #secTwo .secContent .contentOne .content h3 {
  color: gray;
  font-size: 12px;
  font-weight: 600;
}
body main #secTwo .secContent .contentOne .content h2 {
  color: black;
  font-size: 28px;
  font-weight: 700;
}
body main #secTwo .secContent .contentOne .content p {
  font-size: 12px;
  color: gray;
  width: 400px;
}
body main #secThree {
  padding: 110px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #secThree .secContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main #secThree .secContent .contentOne {
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
body main #secThree .secContent .contentOne .content h3 {
  color: gray;
  font-size: 12px;
  font-weight: 600;
}
body main #secThree .secContent .contentOne .content h2 {
  color: black;
  font-size: 28px;
  font-weight: 700;
}
body main #secThree .contentTwo {
  width: 70%;
  display: flex;
  gap: 80px;
}
body main #secThree .contentTwo .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 75%;
}
body main #secThree .contentTwo .content img {
  width: 180px;
}
body main #secThree .contentTwo .content h2 {
  font-size: 16px;
  color: gray;
}
body main #secThree .contentTwo .content h3 {
  font-size: 10px;
  color: rgb(156, 156, 156);
}
body main #secThree .contentTwo .content p {
  color: gray;
  font-size: 14px;
}
body main #secThree .contentTwo .content .icons {
  display: flex;
  gap: 10px;
}
body main #secThree .contentTwo .content .icons i {
  background-color: rgb(41, 41, 41);
  color: white;
  font-size: 10px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
body main #secFour {
  padding: 110px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #secFour .secContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main #secFour .secContent .contentOne {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
body main #secFour .secContent .contentOne .content h3 {
  color: gray;
  font-size: 12px;
  font-weight: 600;
}
body main #secFour .secContent .contentOne .content h2 {
  color: black;
  font-size: 28px;
  font-weight: 700;
}
body main #secFour .secContent .contentTwo .contentForm h2 {
  color: black;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 10px;
}
body main #secFour .secContent .contentTwo .contentForm form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
body main #secFour .secContent .contentTwo .contentForm form .nameInput {
  display: flex;
  gap: 20px;
}
body main #secFour .secContent .contentTwo .contentForm form .nameInput .inp p {
  font-size: 12px;
}
body main #secFour .secContent .contentTwo .contentForm form .nameInput .inp input {
  width: 250px;
  border: none;
  outline: 1px solid gray;
}
body main #secFour .secContent .contentTwo .contentForm form .nameInput .inp input:hover {
  width: 250px;
  border: none;
  outline: 1px solid orangered;
}
body main #secFour .secContent .contentTwo .contentForm form .inp p {
  font-size: 12px;
}
body main #secFour .secContent .contentTwo .contentForm form .inp input {
  width: 520px;
  border: none;
  outline: 1px solid gray;
}
body main #secFour .secContent .contentTwo .contentForm form .inp input:hover {
  width: 520px;
  border: none;
  outline: 1px solid orangered;
}
body main #secFour .secContent .contentTwo .contentForm form textarea {
  padding: 5px 10px;
  width: 520px;
  border: none;
  outline: 1px solid gray;
}
body main #secFour .secContent .contentTwo .contentForm form textarea:hover {
  padding: 5px 10px;
  width: 520px;
  border: none;
  outline: 1px solid orangered;
}
body main #secFour .secContent .contentTwo .contentForm form button {
  width: 110px;
  height: 40px;
  background-color: black;
  color: white;
  font-size: 8px;
  font-weight: 600;
  transition: 0.4s;
  border: 1px solid black;
}
body main #secFour .secContent .contentTwo .contentForm form button:hover {
  width: 110px;
  height: 40px;
  background-color: white;
  color: black;
  font-size: 8px;
  font-weight: 600;
  transition: 0.4s;
  border: 1px solid black;
}
body footer {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 600px) and (max-width: 991px) {
  body main #secOne {
    background-image: url(/assets/img/hero_2.webp);
    width: 100%;
    height: 700px;
    background-size: cover;
  }
  body main #secOne .secContent {
    position: relative;
  }
  body main #secOne .secContent .contentOne {
    position: absolute;
    top: 250px;
    left: 100px;
  }
  body main #secOne .secContent .contentOne h1 {
    color: white;
    font-size: 40px;
    font-weight: 700;
  }
  body main #secOne .secContent .contentOne p {
    color: white;
    font-size: 12px;
    font-weight: 500;
    width: 370px;
  }
  body main #secOne .secContent .contentOne .buttons {
    padding-top: 20px;
  }
  body main #secOne .secContent .contentOne .buttons #btn1 {
    border: 1px solid white;
    color: white;
    font-size: 10px;
    font-weight: 600;
    transition: 0.4s;
    width: 100px;
    height: 30px;
    background-color: transparent;
  }
  body main #secOne .secContent .contentOne .buttons #btn1:hover {
    border: 1px solid white;
    color: black;
    font-size: 10px;
    font-weight: 600;
    transition: 0.4s;
    width: 100px;
    height: 30px;
    background-color: white;
  }
  body main #secOne .secContent .contentOne .buttons #btn2 {
    border: 1px solid white;
    color: black;
    font-size: 10px;
    font-weight: 600;
    transition: 0.4s;
    width: 130px;
    height: 30px;
    background-color: white;
  }
  body main #secOne .secContent .contentOne .buttons #btn2:hover {
    border: 1px solid white;
    color: white;
    font-size: 10px;
    font-weight: 600;
    transition: 0.4s;
    width: 130px;
    height: 30px;
    background-color: transparent;
  }
}